<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moodtracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodTracker">
        <activity
            android:name=".HistoricalDataActivity"
            android:exported="false" />
        <activity
            android:name=".HistoricalDataBarGraphActivity"
            android:exported="false" />
        <activity
            android:name=".HistoricalDataPieChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VideoView"
            android:exported="false" />
        <activity
            android:name=".ui.wellnessToolbox.wellness_toolbox"
            android:exported="false" />
        <activity
            android:name=".ui.basicMoods.fear"
            android:exported="false" />
        <activity
            android:name=".ui.basicMoods.AngerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.basicMoods.sadness"
            android:exported="false" />
        <activity
            android:name=".ui.moogLog.MoodlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OuterRingMoods"
            android:exported="false" />
        <activity
            android:name=".ui.basicMoods.SurpriseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.basicMoods.JoyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.basicMoods.LoveActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MoodSquaresActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DataVisualisation"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_data_visualisation"
            android:theme="@style/Theme.MoodTracker.Fullscreen" />
        <activity
            android:name=".ui.register.RegisterUser"
            android:exported="false" />
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>